// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/lato */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap');
// Lato
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
// Open Sans

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: #c9c9c9 !important;
    font-family: "Open Sans Semibold" !important;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

/* NAV BAR */

.logo {
    font-size: 2rem;
}

.menu-bar {
    color: $default;
    background: white;
    min-height: 10vh;
    padding: 1rem 0;
}

.menu__item {
    opacity: .5;
    font-size: 20px;
    color: $default;
}

.active-menu {
    opacity: .8;
}

.exact-active-menu {
    opacity: 1;
    background-color: lightblue;
}

/* FIRST SCREEN */

.first-screen {
    padding: 8rem 0;
    min-height: 90vh;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: 0 100%;
}

.first-screen-info {
    margin-bottom: 7rem;
}

.first-screen__title {
    font-size: 60px;
}

.first-screen__description {
    font-size: 22px;
}

.btn {
    padding: 1.5rem 2rem !important;
    transition: .3s;
}

.btn_empty {
    margin: 0 .8rem !important;
    background: transparent !important;
    border: 2px solid white !important;
    font-size: 20px !important;
    color: white !important;
}

.btn_full {
    margin: 0 .8rem !important;
    background: #00897b !important;
    font-size: 20px !important;
    color: white !important;
}

.btn_empty:hover,
.btn_full:hover {
    border: 2px dotted white !important;
    background: rgba(0, 137, 123, 0.85) !important;
}

/* FIRST SCREEN */

.about {
    color: black;
    background: white;
}
